		<h1>Welcome to PANFeed</h1>
		<p>PANFeed is a tool to help you take control of news feeds already existing on your university campus. It harvests feeds from university websites and uses them to build custom feeds of news you are actually interested in. The tool has a range of applications including personal custom news feeds, custom feeds for use in department websites or simply taking an inventory of your university feeds. Try out and take control of your news!</p>

		<h1>Try it out!</h1>
		<h4>PANFeed is in continuous development, and functionality may change or break without warning!  If you would like to give any feedback, please email panfeed[at]gmail[dot]com.  Thanks!</h4>
		<p>Enter some keywords separated by commas into the box below to create a custom news feed.</p>


		<div class="feed_gear">
			<div class="input-append">
                		<input class="span2" id="keyword_input" size="16" type="text"><button class="btn" type="button" onclick="makeFeed()">Feed me!</button>
              		</div>
			<!--
			<form onsubmit="return false;">
			<input type="text" id="keyword_input"><button type="submit" id="submit_keys" onclick="makeFeed()">Feed Me!</button><br /><br />
			</form>
			-->
			<a id="google_link" href="http://fusion.google.com/add?source=atgs&feedurl=http%3A//panfeed.ecs.soton.ac.uk/find/apple"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a id="feed_link" href="http://panfeed.ecs.soton.ac.uk/find/all/apple" target="_blank">http://panfeed.ecs.soton.ac.uk/find/all/apple</a> 
		</div>
		<div id="feed_demo">
		</div>
