{% extends "template.html" %}
{% block title %}Manage Digests{% endblock title %}
{% block read_nav %}active{% endblock read_nav %}
{% block content %}
<h2>Manage Your Digest</h2>
<div class="row">
	<div class="span8">
		<p>Creating a PANFeed digest could not be easier. Simply give your digest a title, add a description if you want and then add a list of feeds you want the digest to aggregate for you. Press save and your digest will be created with it's own unique URL for you to use and share.</p>
	</div>
</div>
<div class="row">
	<div class="span8">
		<form action="#" method="post" class="form-horizontal">
		{% csrf_token %}
		{% if form.subject.errors %}
			<ol>
			{% for error in form.subject.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
			</ol>
		{% endif %}

			<fieldset>
				{% for field in form %}
					<div class="control-group">
						<label class="control-label">{{ field.label }}:</label>
						<div class="controls">
							 {{ field }}
						</div>
					</div>
				{% endfor %}
				<input type="submit" value="Submit" class="btn"/>
			</fieldset>
		</form>
	</div>
</div>
{% endblock content %}
