{% extends "template.html" %}
{% load url from future %}
{% block title %}Publish{% endblock title %}
{% block publish_nav %}active{% endblock publish_nav %}
{% block scripts %}<script type="text/javascript">loadIssueItems("{{ issueid }}", "items");</script>{%endblock scripts %}
{% block content %}
<h2>Create an issue</h2>

<p>A PANFeed issue is a completely custom feed. Each item is normal web link. Copy your links into the Add URLs box and click the button to add them to your Issue - PANFeed will then attempt to find the best title, description and image for each one. You have complete control over every single item: you can manually edit the title, description and change the image. You can even add editorial sections either by writing them in your blog or on Google Docs and linking them in or by using our custom "Editorial Item". This allows you put your personal spin on your feed and really tie the whole thing together.</p>

<p>Unlike a PANFeed digest your issue will need you to update it with new links over time but you have complete control of how and when those items are added.</p>


<form action="#" method="post" class="form-horizontal">
	{% csrf_token %}
	<fieldset>
		{% for field in form %}
			{% if field.errors %}
				<div class="control-group error">
			{% else %}
				<div class="control-group">
			{% endif%}
					<label class="control-label">{{ field.label }}:</label>
					<div class="controls">
						{{ field }}
						{% if field.errors %}
							{% for error in field.errors %}
								<span class="help-inline">{{ error }}</span>
							{% endfor %}
						{% endif%}
						{% if field.help_text %}
							<span class="help-inline">{{field.help_text }}</span>
						{% endif%}
					</div>
				</div>
		{% endfor %}

		<div class="control-group">
			<label class="control-label">Add URLs:</label>
			<div class="controls">
         			<textarea name="urls" class="urls" id="issue_urls"></textarea>
				<span class="help-inline">One URL per line</span>
				<br/>
        			<input class="btn" type="button" onclick="addURLsAsItems('issue_urls', 'items')" value="Add these URLs as items" /><br /><br />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn" type="button" onclick="addEditorial('http://{{siteUrl}}/issue/{{issueid}}', 'items')" value="Add an Editorial Item" /><br />
			</div>
		</div>
		<div id="items">
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>&nbsp;&nbsp;
				<a href="{% url 'issuelist' %}" class="btn">Cancel</a>
			</div>
		</div>
	</fieldset>
</form>
{% endblock content %}
