{% extends "template.html" %}
{% load url from future %}
{% block title %}Manage Digests{% endblock title %}
{% block scripts %}<script type="text/javascript" src="{{ STATIC_URL }}scripts/manage_digest.js"></script>{% endblock scripts %}
{% block read_nav %}active{% endblock read_nav %}
{% block content %}
<h2>Manage Your Digest</h2>
<div class="row">
	<div class="span8">
		<p>Creating a PANFeed digest could not be easier. Simply give your digest a title, add a description if you want and then add a list of feeds you want the digest to aggregate for you. Press save and your digest will be created with it's own unique URL for you to use and share.</p>
	</div>
</div>
<form action="#" method="post" class="form-horizontal">
	{% csrf_token %}
	<fieldset>
		{% for field in form %}
			{% if field.errors %}
				<div class="control-group error">
			{% else %}
				<div class="control-group">
			{% endif%}
					<label class="control-label">{{ field.label }}:</label>
					<div class="controls">
						{{ field }}
						{% if field.errors %}
							{% for error in field.errors %}
								<span class="help-inline">{{ error }}</span>
							{% endfor %}
						{% endif%}
						{% if field.help_text %}
							<span class="help-inline">{{field.help_text }}</span>
						{% endif%}
					</div>
				</div>
		{% endfor %}
		<div class="control-group">
			<label class="control-label">Add a PANFeed (optional):</label>
			<div class="controls">
				<div class="input-append">
        				<input class="span2" id="keyword_input" size="16" type="text"><button class="btn" type="button" onclick="addPANFeed()">Feed me!</button>
				<span class="help-inline">Enter some keywords separated by commas and click "Feed Me!" to add a PANFeed to your Digest</span>
				</div>
			</div>
		</div>
		<div id="feed_urls">
			<label class="control-label">Feeds:</label>		
			{% if feeds %}				
				{% for feed in feeds %}
					<div class="control-group">
						<div class="controls">
							<div class="input-append">
								<input type="text" name="url" value="{{feed.url}}"><button class="btn remove" type="button">Remove</button><button class="btn add" type="button">Add another</button>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			<div class="control-group">
				<div class="controls">
					<div class="input-append">
						<input type="text" name="url"><button class="btn remove" type="button">Remove</button><button class="btn add" type="button">Add another</button>
					</div>
				</div>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>&nbsp;&nbsp;
				<a href="{% url 'digestlist' %}" class="btn">Cancel</a>
			</div>
		</div>
	</fieldset>
</form>
{% endblock content %}
