{% extends "template.html" %}
{% load url from future %}
{% block title %}Publish{% endblock title %}
{% block publish_nav %}active{% endblock publish_nav %}
{% block content %}
<h2>Create a Feed</h2>
<form action="#" method="post" class="form-horizontal">
	{% csrf_token %}
	<fieldset>
		{% for field in form %}
			{% if field.errors %}
				<div class="control-group error">
			{% else %}
				<div class="control-group">
			{% endif%}
					<label class="control-label">{{ field.label }}:</label>
					<div class="controls">
						{{ field }}
						{% if field.errors %}
							{% for error in field.errors %}
								<span class="help-inline">{{ error }}</span>
							{% endfor %}
						{% endif%}
						{% if field.help_text %}
							<span class="help-inline">{{field.help_text }}</span>
						{% endif%}
					</div>
				</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>&nbsp;&nbsp;
				<a href="{% url 'publishnews' %}" class="btn">Cancel</a>
			</div>
		</div>
	</fieldset>
</form>
{% endblock content %}
