<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>{% block title %}{% endblock title %} - PANFeed</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  
  <!-- **** Bootstrap Styles **** -->
  <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <style>
    body
    {
      padding-top: 60px;
    }
  </style>
		  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.jfeed.pack.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/make_feed_link.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/add_issue_items.js"></script>
</head>

<body>

	<!-- Navbar
	================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">PANFeed</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
		<li class="{% block read_nav %}{% endblock %}">
			<a href="/digestlist/">Read</a>
	        </li>
		<li class="{% block publish_nav %}{% endblock %}">
			<a href="/issuelist/">Publish</a>
		</li>
			  
		{% if user.is_authenticated %}
			<li class="{% block myfeeds_nav %}{% endblock %}">
				<a href="/myfeeds">My Feeds</a>
			</li>
		{% endif %}
	  
		<li class="{% block about_nav %}{% endblock %}">
			<a href="/about/">About</a>
		</li>
			  
		{% if user.is_authenticated %}
			<li class="">
				<a href="/account/logout">Logout</a>
			</li>
		{% else %}
			<li class="{% block login_nav %}{% endblock %}">
				<a href="/account/login">Login</a>
			</li>
		{% endif %}		
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Navbar
	============================================================================-->

    <div id="site_content">
    <div class="container" id="content">
        {% block content %}
	{% endblock content %}
	{{ page.content|safe }}
    </div>
    </div>
	
	<hr>
    <div class="container">
	<div class="span8">
      	<footer>
       		 <p>Copyright &copy; University of Southampton | Made with <a target="_blank" href="http://getbootstrap.com">Bootstrap.</a>
		 <p>PANFeed is an output of the <a href="http://jisc.ac.uk">JISC</a> funded <a href="http://www.campus-roar.ecs.soton.ac.uk">CampusROAR</a> project.</p>
	</footer>
	</div>
    </div>
  </div>
  
	<!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/style/bootstrap/js/jquery.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/style/bootstrap/js/bootstrap-typeahead.js"></script>  
</body>
</html>

