[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.feed-list {
	padding:2px 0px;
}

#login a#browserid {
    padding: 7px 0px 6px;
}

tr:target td {
    /*box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    border-radius:5px;
    */
    background-color:#FFFFCC !important; 
}

table.items {
    table-layout:fixed;
}

table.items th.title {
    width: 60%;
}

table.items th.date {
    width: 20%;
}

table.items th.edit, th.delete {
    width: 10%;
}
