.feed-list
{
	padding:2px 0px;
}

#login a#browserid {
    padding: 7px 0px 6px;
}

tr.feed:target{
    box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    border-radius:5px;
}
