{% load url from future %}
{% load compress %}
<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock title %} - PANFeed</title>
    <meta property="og:title" content="PANFeed" />
    <meta property="og:image" content="{{ STATIC_URL }}images/panfeediconsmall.png" />
    <meta property="og:description" content="The purpose of PANFeed is to make academic news more accessible to all, whether you represent an individual, or an institution. We want to make it easier to find the news you're interested in, and to simplify creating and publishing your own news feed. " />
  <!-- **** Bootstrap Styles **** -->
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" >
        <style type="text/css">
            body {
                padding-top: 60px;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" type="text/css">
        <style type="text/css">
            [ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{
                display:none;
            }ng\:form, ng-form{
                display:block;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}panfeed/styles/additional.less" type="text/less">
    {% endcompress %}
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{% url 'home' %}">PANFeed</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="{% block findnews_nav %}{% endblock %}">
                            <a href="{% url 'findnews' %}">Find News</a>
                        </li>

                        <li class="{% block publish_nav %}{% endblock %}">
                            <a href="{% url 'publishnews' %}">Publish News</a>
                        </li>

                        <li class="{% block faq_nav %}{% endblock %}">
                            <a href="{% url 'faq' %}">FAQ</a>
                        </li>

                        <li class="{% block about_nav %}{% endblock %}">
                            <a href="{% url 'about' %}">About</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        {% if user.is_authenticated %}
                            <li id="session" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="avatar" src="{{user.get_profile.gravatar_url}}" />
                                <span class="nickname">{{user.get_profile.title}}</span>
                                <small>(<span class="email">{{user.email}}</span>)</small> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{user.get_profile.get_absolute_url}}">Account settings</a></li>
                                    <li><a href="{% url 'logout' %}">Sign out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            {% block browserid %}
                                <li id="login">
                                    <a id="browserid" href="">
                                        <img src="{{ STATIC_URL }}images/persona-login.png" alt="Sign In" />
                                    </a>
                                    <form hidden="hidden" method="POST" action="{% url 'browserid_verify' %}{% if request.path %}?next={{ request.path }}{% endif %}">
                                        {% csrf_token %}
                                        {{ browserid_form.as_p }}
                                    </form>
                                </li>
                            {% endblock browserid %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar
    ============================================================================-->

    <div id="site_content">
    <div class="container" id="content">
        {% block content %}
    {% endblock content %}
    </div>
    </div>
    

    <hr>
    <footer class="pagination-centered">
         <p>Copyright &copy; <a href="http://www.southampton.ac.uk/">University of Southampton</a> | Made with <a target="_blank" href="http://getbootstrap.com">Bootstrap</a> | PANFeed is an output of the <a href="http://jisc.ac.uk">JISC</a> funded <a href="http://www.campus-roar.ecs.soton.ac.uk">CampusROAR</a> project | View more <a href="http://www.wais.ecs.soton.ac.uk/">WAIS</a> projects at our <a href="http://blogs.ecs.soton.ac.uk/oneshare/">OneShare Blog</a></p>
    </footer>
  
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script type="text/javascript" src="{% url 'jsurls' %}"></script>
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}lib/angularjs/angular.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/URI.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}django_js_utils.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}panfeed/scripts/listfeeds.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}panfeed/scripts/findnews.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}panfeed/scripts/publish_item.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}panfeed/scripts/publish_issue.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}panfeed/scripts/initapp.js"></script>
    {% endcompress %}
    
    {{ browserid_form.media.js }}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>

