{% extends "panfeed/base.html" %}
{% block title %}FAQ{% endblock title%}
{% block faq_nav %}active{% endblock faq_nav %}
{% block content %}
<h1>Frequently Asked Questions</h1>
<br/>
<div class="well">
    <h4>Contents</h4>
    <ul class="unstyled">
        <li><a href="#what-is-a-feed">What is a Feed?</a>
        <li><a href="#what-is-a-panfeed">What is a PANFeed?</a>
        <li><a href="#how-do-i-view-feeds">How do I view feeds?</a>
        <li><a href="#what-is-an-issue">What is a Special Issue?</a>
        <li><a href="#where-are-these-feeds-from">Where are these Feeds from?</a>
        <li><a href="#how-to-crawl">How do I get my institution's feeds included in PANFeed?</a>
        <li><a href="#i-want-to-host-panfeed">I'd like to host PANFeed at my institution</a>
        <li><a href="#bugs">Help! Something doesn't work!</a>
    </ul>
</div>
<h3 id="what-is-a-feed">What is a Feed?</h3>
<p>A web feed (or "syndicated" feed) is a method of publishing frequently updated content on the internet. Content providers publish a feeds and users subscribe to those they want to view. PANFeed allows you to search for feeds relating to your interests, or publish items that you want to share with the world.</p>
<br/>
<h3 id="what-is-a-panfeed">What is a PANFeed?</h3>
<p>A PANFeed is a Personalised, Academic News Feed - they're great for discovering a wide variety of news, from a wide variety of different sources.</p>
<br/>
<h3 id="how-do-i-view-feeds">How do I view feeds?</h3>
<p>You can view feeds in a feed agregator or "reader" such as <a href="http://www.google.com/reader">Google Reader</a>, <a href="http://reader.feedshow.com/">Feed Show</a> or <a href="http://www.newsalloy.com/">News Alloy</a>. These allow you to add different feeds and view their content - they will also notify you when the feed is updated.</p>
<br/>
<h3 id="what-is-a-feed">What is a Special Issue?</h3>
<p>An Issue is a collection of articles from ordinary webpages, chosen by a user. PANFeed then turns these articles into a feed of your own, to publish as you like.</p>
<br/>
<h3 id="where-are-these-feeds-from">Where are these Feeds from?</h3>
<p>A program called a "crawler" is used to find all RSS and Atom feeds under an academic domain (with the owner's permission), which are then catalogued and analysed for keywords.</p>
<br/>
<h3 id="how-to-crawl">How do I get my institution's feeds included in PANFeed?</h3>
<p>If you represent an academic institution, such as a university, you can <a href="/crawlme/">get your institution's feeds added here</a>.</p>
<br/>
<h3 id="i-want-to-host-panfeed">I'd like to host PANFeed at my institution</h3>
<p>If you want to host PANFeed at your own institution, that's great! The sourcecode is available on <a href="https://github.com/Landric/PANFeed">Git Hub</a> and legacy code is available at <a href="http://code.google.com/p/panfeed/">Google Code</a>. Full installation instructions will be posted soon!</p>
<br/>
<h3 id="bugs">Help! Something doesn't work!</h3>
<p>Don't worry! PANFeed is in continuous development, and functionality may change or break without warning. If you notice something that doesn't seem to be working quite right, please email us at: <a href="mailto:panfeed@gmail.com">panfeed@gmail.com</a></p>
<br/>
{% endblock content %}
