{% extends "template.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block title %}Publish{% endblock title %}
{% block publish_nav %}active{% endblock publish_nav %}
{% block content %}

{% if object %}
	<h2>Edit Feed</h2>
{% else %}
	<h2>Create Feed</h2>
{% endif %}
<p>Fields marked * are required.</p>
<br/>
<form action="#" method="post" class="form-horizontal">
    {% csrf_token %}
    {{form|crispy}}
        <div class="control-group">
            <div class="controls">
                {% if object %}
                    <input type="submit" value="Save" class="btn btn-primary"/>&nbsp;&nbsp;
                {% else %}
                    <input type="submit" value="Create" class="btn btn-primary"/>&nbsp;&nbsp;
                {% endif %}
                <a href="{% url 'publishnews' %}" class="btn">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock content %}
