{% extends "template.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block title %}Publish{% endblock title %}
{% block publish_nav %}active{% endblock publish_nav %}
{% block content %}
{% if object %}
    <h2>Edit Feed</h2>
{% else %}
    <h2>Create Feed</h2>
{% endif %}
<p>Fields marked * are required.</p>
<br/>
<form action="#" method="post" class="form-horizontal">
    {% csrf_token %}
    {{form|crispy}}
        <div class="control-group">
            <div class="controls">
                {% if object %}
                    <input type="submit" value="Save" class="btn btn-primary"/>&nbsp;&nbsp;
                {% else %}
                    <input type="submit" value="Create" class="btn btn-primary"/>&nbsp;&nbsp;
                {% endif %}
                <a href="{% url 'publishnews' %}" class="btn">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
    <br/>
    <br/>
    {% if object %}
        <div class="control-group">
            <label class="control-label">Published items and Special Issues:</label>
        </div>
        {% for table in table_list %}
            {% for item in table %}
            
                {% if forloop.first %}
                    <div class="control-group">
                        <div class="controls">
                            <table class="table table-striped table-bordered items">
                                <thead>
                                    <tr>
                                    {% if item.feeditem_set %}
                                        <th class="title">{{item.title}}</th>
                                        <th class="date">Date Published</th>
                                        <th class="edit"><a href="{{ item.get_modify_url }}" class="btn"><i class="icon-edit"></i> Edit</a></th>
                                        <th class="delete">
                                            <form action="{{item.get_modify_url}}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="_method" value="DELETE" />
                                                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
                                            </form>
                                        </th>
                                    {% else %}
                                        <th class="title">Title</th>
                                        <th class="date">Date Published</th>
                                        <th class="edit">Edit</th>
                                        <th class="delete">Delete</th>
                                    {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                {% endif %}
                {% if not item.feeditem_set %}
                                        <tr class="item" id="item-{{item.id}}">
                                            <td>{{item.title}}</td>
                                            {% if forloop.counter == 2 and item.special_issue %}
                                                <td rowspan="{{ table|length|add:"-1" }}">{{item.created}}</td>
                                            {% elif not item.special_issue %}
                                                <td>{{item.created}}</td>
                                            {% endif %}
                                            <td><a href="{{ item.get_modify_url }}" class="btn"><i class="icon-edit"></i> Edit</a></td>
                                            <td>
                                                <form action="{{item.get_modify_url}}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="_method" value="DELETE" />
                                                    <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                {% endif %}
                {% if forloop.last %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% empty %}
            <div class="controls">
                <p>There are currently no published items or Special Issues in this Feed</p>
            </div>
        {% endfor %}
        {% if object %}
                <a class="btn btn-primary" href="{% url 'newitem' object.slug %}">Publish an item</a>
                <a class="btn btn-primary" href="{% url 'newissue' object.slug %}">Publish a Special Issue</a>
        {% endif %}
    {% endif %}
{% endblock content %}
