{% extends "template.html" %}
{% load url from future %}
{% block title %}Publish{% endblock title %}
{% block publish_nav %}active{% endblock publish_nav %}
{% block content %}
{% load crispy_forms_tags %}
<h2>Publish an Item</h2>
</br>
<h3>{{feed.title}}</h3>
<form action="#" method="post" class="form-horizontal">
    {% csrf_token %}
	{{form|crispy}}
		<div class="control-group">
			<div class="controls">
					<input type="submit" value="Save" class="btn btn-primary"/>&nbsp;&nbsp;
                    <a href="{% url 'publishnews' %}" class="btn">Cancel</a>
			</div>
		</div>
	</fieldset>
</form>
{% endblock content %}
