{% extends "template.html" %}
{% load url from future %}
{% block title %}Find News{% endblock title%}
{% block findnews_nav %}active{% endblock findnews_nav %}
{% block content %}
<div ng:app="panfeedModule" ng:csp ng:controller="ListFeedsCtrl">
	<div class="row">
		<div class="span8">
			<h1>Find News</h1>
			<p>Here you can browse some of the Feeds created by other PANFeed users.</p>
			<br/>
			<input ng:model="searchText.searchOn" type=text placeholder="Search...">
			<br/>
			<br/>
		</div>
	</div>
	<ul ng:show="feeds">
		<li ng:repeat="feed in feeds | filter:searchText">
			<h4><a href='#' ng:bind='feed.title'></a></h4>
			<span ng:bind="feed.description"></span>
			<br/>
			<br/>
		</li>
	</ul>
    <ul ng:hide="feeds">
        {% for feed in feeds %}
        <li>
			<h4><a href='#'>{{feed.title}}</a></h4>
			<span>{{feed.description}}</span>
			<br/>
			<br/>
		</li>
        {% endfor %}
    </ul>
{% endblock content %}
{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/listfeeds.js"></script>
{% endblock scripts %}

