{% extends "template.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block title %}Publish Item{% endblock title %}
{% block publish_nav %}active{% endblock publish_nav %}
{% block content %}
{% if form.is_bound %}
    <h2>Edit Item in "{{feed.title}}"</h2>
{% else %}
    <h2>Publish Item to "{{feed.title}}"</h2>
{% endif %}
<br/>
<div ng:app="panfeedModule" ng:csp ng:controller="PublishItemCtrl">
    <form action="#" method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <div class=input-append">
                        <input ng:model="url" type="text" placeholder="Enter URL..."><button ng:click="convertURL()" class="btn" type="button">Add URL</button>
                    </div>
                </div>
            </div>

            <div ng:cloak ng:show="loading">
                <img src="{{ STATIC_URL }}images/load.gif" alt="Loading..."/>
            </div>

            
            <div ng:cloak ng:show="loaded" class="well" id="items">
                <div class='control-group'>
                    <label class='control-label'>URL:</label>
                    <div class='controls'>
                        <input class="disabled" type='text' name='url' disabled="" value='[[item.url]]'/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label'>Title:</label>
                    <div class='controls'>
                        <input type='text' name='title' value='[[item.title]]'/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label'>Description:</label>
                    <div class='controls'>
                        <textarea name='description'>[[item.description]]</textarea>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label'>Image URL:</label>
                    <div class='controls'>
                        <input type='text' name="image" ng:model="item.image"/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label'>Image Preview:</label>
                    <div class='controls'>
                        <img src='[[item.image]]' alt='URL does not resolve to image.' /><br />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {% if form.is_bound %}
                        <input type="submit" value="Save" class="btn btn-primary"/>&nbsp;&nbsp;
                    {% else %}
                        <input type="submit" value="Publish" class="btn btn-primary"/>&nbsp;&nbsp;
                    {% endif %}
                        <a href="{% url 'publishnews' %}" class="btn">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}
