{% extends "template.html" %}
{% load url from future %}
{% block title %}Find News{% endblock title%}
{% block findnews_nav %}active{% endblock findnews_nav %}
{% block content %}
<div ng:app="panfeedModule" ng:csp ng:controller="FindNewsCtrl">
    <div class="row">
        <div class="span8">
            <h1>Find News</h1>
            <p>You can use PANFeed to search a vast store of academic news feeds to create a tailored stream of news related directly to your interests. Just enter some keywords (seperated by spaces) into the box below to create your very own custom news feed. To quickly view some of the articles that PANFeed has selected for you, click "View preview".</p>
            <p>Currently, Chrome does not support rendering RSS. For this reason, we reccomend clicking "View Preview" in another browser, or using one of the provided feed readers.</p>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="span4 offset1">
            <h2>Select a custom Feed</h2>
            <p>Enter some keywords separated by spaces into the box below to create a custom news feed.</p>
        <input ng:model="searchTerms" ng:change="search()" ng:click="search()" ng:focus="search()" class="span2" size="16" type="text" pattern="[\w ]*">
            <br/>
            <p>If you represent an institution and want to see your feeds appearing in this search, <a href="{% url 'crawlme' %}">click here to find out how to get your feeds added</a>.</p>
        </div>
        <div class="span4 offset1"> 
            <h2>Select user created Feed</h2>
            <p>These feeds have been created by other PANFeed users.</p>
            {% if feeds %}
                <div class="row">
                    <div class="span2">
                        <ul ng:cloak ng:show="feeds">
                            <li ng:repeat="feed in feeds | filter:searchText | limitTo:8">
                                <a href='#' ng:click="user('{{feed.get_absolute_url}}')" ng:bind='feed.title'></a>
                            </li>
                        </ul>
                        <ul ng:hide="feeds">
                        {% for feed in feeds|slice:":4" %}
                            <li><a href='#' ng:click="user('{{feed.get_absolute_url}}')">{{feed.title}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="span2">
                        <ul ng:hide="feeds">
                        {% for feed in feeds|slice:"4:8" %}
                            <li><a href='#' ng:click="user('{{feed.get_absolute_url}}')">{{feed.title}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <input ng:model="searchText" type=text placeholder="Search Feeds...">
                <br/>
                <a href="{% url 'allfeeds' %}" class ='btn'>Browse all Feeds &raquo;</a>
            {% else %}
                <br/>
                <p>There are currently no user created Feeds. Why not be the first to <a href="{% url 'publishnews' %}">publish some news</a>?</p>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span8 offset2">
            <p>To quickly view some of the items in the Feed, click "View Preview". To add the Feed to your feed reader, you can simple click one of the buttons below if you use <a href="http://www.google.com/reader">Google Reader</a>, <a href="http://reader.feedshow.com/">Feed Show</a> or <a href="http://www.newsalloy.com/">News Alloy</a>. If you use a different reader, copy the feed link provided and paste it in to your reader of choice.</p>
            <div ng:cloak class="well">
                <span ng:bind="absoluteUrl()"></span>
                <button class="btn disabled" type="button">Copy to clipboard</button>
                <a class="btn" id="view_more" ng:href="[[ absoluteUrl() ]]" target="_blank">View Preview</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8 offset2">
            <a id="google_link"    ng:href="[[ googleReaderUrl() ]]"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"></a>
            &nbsp;&nbsp;
            <a id="feedshow_link"  ng:href="[[ feedShowReaderUrl() ]]" title="subscribe"><img src="http://www.feedshow.com/images/addfeedshow.gif" border="0" alt="Add to FeedShow" /></a>
            &nbsp;&nbsp;
            <a id="newsalloy_link" ng:href="[[ newsAlloyReaderUrl() ]]"><img src="http://www.newsalloy.com/subrss1.png" alt="NewsAlloy button" style="border:0"/></a>
            &nbsp;&nbsp;
        </div>
    </div>
</div>
{% endblock content %}

