{% extends "template.html" %}
{% load url from future %}
{% block title %}Publish{% endblock title %}
{% block publish_nav %}active{% endblock publish_nav %}
{% block content %}
<div class="row">
    <div class="span8">
        <h1>Publish News</h1>
        <p>PANFeed provides a simple way of managing news feeds, whether you are representing an institution or an individual. To start, create a new feed - this will provide you with a link that you can share with people.</p>
        <p>You can then publish items (such as news articles) or Special Issues (a collection of items, with an editorial) to this Feed.</p>
        <br/>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h2>Create a Feed</h2>
        <p>Get started by creating a Feed!</p>
        <a href="{% url 'newfeed' %}" class="btn">Create a new Feed &raquo;</a>
    </div>
    <div class="span8">
        {% if feeds %}
            <table class="table table-striped">
                    <thead>
                        <tr>
                        <th><h2>Your Feeds</h2></th>
                        <th>Manage Feed</th>
                        <th>Publish To Feed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feed in feeds %}
                        <tr class="feed" id="{{feed.get_fragment_id}}">
                            <td>{{feed.title}} ({{feed.feeditem_set.count}} item{%if feed.feeditem_set.count != 1%}s{%endif%})</td>
                            <td>
                            <form action="{{feed.get_modify_url}}" method="post">
                                {% csrf_token %}
                                <div class="btn-group">
                                    <a href="{{feed.get_absolute_url}}" class="btn">View</a>
                                    <a href="{{feed.get_modify_url}}" class="btn">Edit</a>
                                    <input name="_method" value="DELETE" type="hidden">
                                    <button type="submit" class="btn btn-danger" title="Delete this Feed">Delete</button>
                                </div>
                            </form>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'newitem' feed.slug %}" class="btn">Publish Item</a>
                                    <a href="{% url 'newissue' feed.slug %}" class="btn">Publish Special Issue</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>Your Feeds</h2>
            <p>You haven't created any feeds yet. Why not create one now?</p>
        {% endif %}

    <!-- Confirm Delete Modal
    ================================================== -->
    <div class="modal hide fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="Confirm Delete" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this Feed? This action <strong>cannot</strong> be undone.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger button-delete">Delete</a>
            <a href="#" class="btn button-close">Close</a>
        </div>
    </div>
    <!-- End modal
    ============================================================================-->

    </div>
</div>
{% endblock content %}
