{% extends "template.html" %}
{% block title %}About{% endblock title %}
{% block about_nav %}active{% endblock about_nav %}
{% block content %}
<h1>About the Project</h1>

<div class="row">
    <div class="span4">
        <h2>What is PANFeed?</h2>
        <p>The purpose of PANFeed is to make academic news more accessable to all, whether you represent an individual, or an institution. We want tomake it easier to find the news you're interested in, and to simplify creating and publishing your own news feed.
    </div>
    <div class="span4">
        <h2>Who are we?</h2>
        <p>We are a group of researchers based at the <a href="http://www.southampton.ac.uk/">University of Southampton</a>, in the <a href=http://www.wais.ecs.soton.ac.uk/">Web And Internet Science research group</a>. We created PANFeed as a part of the <a href="http://www.campus-roar.ecs.soton.ac.uk">CampusROAR</a> project, which is focused around making research more accessible, exciting and interesting, and to enable people to keep up to date on research in their areas of interest.</p>
        <br/>
        <p style="text-align:center;"><a href="http://www.campus-roar.ecs.soton.ac.uk"><img src="{{ STATIC_URL }}images/panfeediconsmall.png" alt="CampusROAR"/></a></p>
    </div>
    <div class="span4">
        <h2>How can you contact us?</h2>
            <p>PANFeed is in continuous development, so the more feedback we recieve, the more we can shape the design around the community! If you have any comments, criticims or suggestions, please email us at:</p>
        <address>
                <strong>PANFeed Support</strong><br>
                <a href="mailto:panfeed@gmail.com">panfeed@gmail.com</a>
            </address>
    </div>
</div>
{% endblock content %}
